#ticketuserparts {
    background-image: url("../assets/destinationUtilisateur/paysagebackground2.jpg");
    width: 95%;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-size: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 150px;

}

#formulairerecherche2 {
    background-color: white;
    border-radius: 8px;
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 130px;
}

#formulairerecherche2 #titrelignedepartarrive {
    display: flex;
    justify-content: space-between;
}

#formulairerecherche2 #titrelignedepartarrive p {
    width: 47%;
}
#titreformulaire2 {
    width: 8%;
    height: 45px;
    background-color: #5893D4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: -10px;
    z-index: 2;
}





/*CHOIX BILLETS*/
.choixbillets {
    display: flex;
    background-color: white;
    width: 65%;
    height: 190px;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.infotrain {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.departtrain, .arriveetrain, .infosecondaire {
    display: flex;
    margin-bottom: 10px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.heuretrain {
    width: 10%;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.detailgaredepart, .detailgarearrivee {
    background-color: #e3e3e3;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-left: 2%;
}

.favoributton {
    background-color: #D4A258;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    padding-right: 3%;
    padding-left: 3%;
}
.favoributton:hover {
    background-color: #ce8820;

}

.favoributton p {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.clairptrain {
    opacity: 0.7;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

/*INFO SECONDE*/
.info2nd, .info1ere {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 18%;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.prixtrain, .addpanier, .placedispo, .addpanier2 {
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.prixtrain {
    background-color: #e3e3e3;
    color: black;
    height: 30%;

}

.addpanier, .addpanier2 {
    background-color: #5893D4;
    color: white;
    height: 30%;
    cursor: pointer;
}
.addpanier:hover, .addpanier2:hover {
    background-color: #1b73d1;

}

.placedispo {
    background-color: #DDC058;
    color: black;
    height: 16%;
}

.nomclassetrain {
    margin-bottom: 5px;
    opacity: 0.7;
}

#alertSaisi, #alert0TrainDispo, #serviceIndisponible{
    background-color: red;
    border-radius: 8px;
    width: 80%;
    height: 108px;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-top: 30px;
}
#alertSaisi p, #alert0TrainDispo p, #serviceIndisponible p{
    margin: 11px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}



@media screen and (max-width: 1666px){
#titreformulaire2{
    width: 10%;
}
}
@media screen and (max-width: 1314px){
#titreformulaire2{
    width: 12%;
}
}


@media screen and (max-width: 1650px){
    .choixbillets {
        padding-right: 45px;
    }
    .infotrain {
        margin-right: 2%;
    }
    .info2nd, .info1ere {
        width: 20%;
    }
    .infotrain {
        width: 48%;
    }
    .detailgaredepart, .detailgarearrivee {
        width: 86%;
    }
    .favoributton {
        padding-right: 2.5%;
        padding-left: 2.5%;
    }
}
@media screen and (max-width: 1500px){
    .choixbillets {
        padding-right: 40px;
    }
    .infotrain {
        margin-right: 2%;
    }
    .info2nd, .info1ere {
        width: 22%;
    }
    .infotrain {
        width: 46%;
    }
    .detailgaredepart, .detailgarearrivee {
        width: 84%;
    }
    .favoributton {
        width: 50%;
    }
    .favoributton p {
        font-size: 15px;
    }
}
@media screen and (max-width: 1350px){
    .choixbillets {
        padding-right: 35px;
    }
    .infotrain {
        margin-right: 2%;
    }
    .info2nd, .info1ere {
        width: 24%;
    }
    .infotrain {
        width: 44%;
    }
    .detailgaredepart, .detailgarearrivee {
        width: 82%;
    }
    .favoributton p {
        font-size: 14px;
    }
}
@media screen and (max-width: 1200px){
    .choixbillets {
        padding-right: 30px;
    }
    .infotrain {
        width: 42%;
    }
    .detailgaredepart, .detailgarearrivee {
        width: 80%;
    }
    .favoributton p {
        font-size: 13px;
    }
}
@media screen and (max-width: 1200px){
    .choixbillets {
        padding-right: 25px;
    }
    .info2nd, .info1ere {
        width: 26%;
    }
    .infotrain {
        width: 40%;
    }
    .detailgaredepart, .detailgarearrivee {
        width: 78%;
    }

}
























